.bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; }
  
  .slick-slide {
    outline: 0; }
  
  .main-btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #1655c5;
    padding: 0 40px;
    font-size: 16px;
    line-height: 60px;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    background-color: #1655c5; }
    .main-btn:hover {
      background-color: #fff;
      color: #1655c5;
      border-color: #1655c5; }
    .main-btn.main-btn-2 {
      background-color: #fff;
      color: #1655c5;
      border-color: #1655c5; }
      .main-btn.main-btn-2:hover {
        background-color: #1655c5;
        border-color: #1655c5;
        color: #fff; }
  
    .section-title span {
      font-weight: 500;
      color: #1655c5;
      position: relative;
      z-index: 11; }
    .section-title .title {
      font-size: 60px;
      position: relative;
      z-index: 10; }
      @media (max-width: 767px) {
        .section-title .title {
          font-size: 40px; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .section-title .title::before {
            font-size: 160px; } }
        @media (max-width: 767px) {
          .section-title .title::before {
            display: none; } }
    .section-title img {
      margin-top: 5px; }
  
  .preloader {
    background-color: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999; }
  
  .lds-ellipsis {
    margin: 0 auto;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 64px;
    text-align: center;
    z-index: 9999; }
  
  .lds-ellipsis span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1655c5;
    -webkit-animation: ball-pulse-sync .6s 0s infinite ease-in-out;
    animation: ball-pulse-sync .6s 0s infinite ease-in-out; }
  
  .lds-ellipsis span:nth-child(1) {
    -webkit-animation: ball-pulse-sync .6s -.14s infinite ease-in-out;
    animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out; }
  
  .lds-ellipsis span:nth-child(2) {
    -webkit-animation: ball-pulse-sync .6s -70ms infinite ease-in-out;
    animation: ball-pulse-sync 0.6s -70ms infinite ease-in-out; }
  
  @-webkit-keyframes ball-pulse-sync {
    33% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px); }
    66% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0); } }
  @keyframes ball-pulse-sync {
    33% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px); }
    66% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0); } }
  
  .navigation {
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
    padding: 0 100px;
    z-index: 999; }
    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
      .navigation {
        padding: 0 15px; } }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .navigation {
        padding: 0 15px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navigation {
        padding: 0 15px; } }
    @media (max-width: 767px) {
      .navigation {
        padding: 0 15px; } }
    .navigation.sticky {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: #fff;
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.04);
      z-index: 999;
      animation: sticky  1.2s; }
      .navigation.sticky .navbar .navbar-nav .nav-item a {
        line-height: 80px !important; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .navigation.sticky .navbar .navbar-nav .nav-item a {
            line-height: 40px !important; } }
        @media (max-width: 767px) {
          .navigation.sticky .navbar .navbar-nav .nav-item a {
            line-height: 40px !important; } }
      .navigation.sticky .navbar .navbar-nav .nav-item .sub-menu li a {
        line-height: 30px !important; }
    .navigation .navbar {
      position: relative;
      padding: 0; }
      .navigation .navbar .navbar-brand {
        margin-right: 0; }
      .navigation .navbar .navbar-toggler {
        border: 2px solid #000;
        padding: 10px 12px;
        border-radius: 0; }
        .navigation .navbar .navbar-toggler .toggler-icon {
          width: 30px;
          height: 2px;
          background-color: #222;
          margin: 5px 0;
          display: block;
          position: relative;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s; }
        .navigation .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 7px; }
        .navigation .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
          opacity: 0; }
        .navigation .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
          top: -7px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .navigation .navbar .navbar-collapse {
          position: absolute;
          top: 106%;
          left: 0;
          width: 100%;
          background-color: #1655c5;
          z-index: 8;
          padding: 10px 16px;
          box-shadow: 0 26px 48px 0 rgba(0, 0, 0, 0.15); } }
      @media (max-width: 767px) {
        .navigation .navbar .navbar-collapse {
          position: absolute;
          top: 106%;
          left: 0;
          width: 100%;
          background-color: #1655c5;
          z-index: 8;
          padding: 10px 16px;
          box-shadow: 0 26px 48px 0 rgba(0, 0, 0, 0.15); } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .navigation .navbar .navbar-nav {
          margin-right: 0; } }
      @media (max-width: 767px) {
        .navigation .navbar .navbar-nav {
          margin-right: 0; } }
      .navigation .navbar .navbar-nav .nav-item {
        position: relative;
        margin: 0 30px; }
        @media only screen and (min-width: 1200px) and (max-width: 1600px) {
          .navigation .navbar .navbar-nav .nav-item {
            margin: 0 20px; } }
        @media only screen and (min-width: 992px) and (max-width: 1200px) {
          .navigation .navbar .navbar-nav .nav-item {
            margin: 0 12px; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .navigation .navbar .navbar-nav .nav-item {
            margin: 0px; } }
        @media (max-width: 767px) {
          .navigation .navbar .navbar-nav .nav-item {
            margin: 0px; } }
        .navigation .navbar .navbar-nav .nav-item a {
          font-size: 16px;
          font-weight: 500;
          color: #002e44;
          text-transform: capitalize;
          position: relative;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s;
          line-height: 65px;
          padding: 0px;
          font-family: "Roboto", sans-serif; }
  
          .nav-item:hover {
            color: #fff;
            text-decoration: none;
            color: linear-gradient(0deg, rgb(101, 31, 102), rgb(173, 65, 169));
            border-bottom: black;
          }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .navigation .navbar .navbar-nav .nav-item a {
              color: #fff; } }
          @media (max-width: 767px) {
            .navigation .navbar .navbar-nav .nav-item a {
              color: #fff; } }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .navigation .navbar .navbar-nav .nav-item a > i {
              display: none; } }
          @media (max-width: 767px) {
            .navigation .navbar .navbar-nav .nav-item a > i {
              display: none; } }
          @media only screen and (min-width: 992px) and (max-width: 1200px) {
            .navigation .navbar .navbar-nav .nav-item a {
              font-size: 14px; } }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .navigation .navbar .navbar-nav .nav-item a {
              padding: 0;
              display: block;
              border: 0;
              margin: 0;
              line-height: 40px; } }
          @media (max-width: 767px) {
            .navigation .navbar .navbar-nav .nav-item a {
              padding: 0;
              display: block;
              border: 0;
              margin: 0;
              line-height: 40px; } }
          .navigation .navbar .navbar-nav .nav-item a span {
            padding-left: 5px;
            font-size: 15px; }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
              .navigation .navbar .navbar-nav .nav-item a span {
                display: none; } }
            @media (max-width: 767px) {
              .navigation .navbar .navbar-nav .nav-item a span {
                display: none; } }
        .navigation .navbar .navbar-nav .nav-item:first-child a {
          margin-left: 0; }
        .navigation .navbar .navbar-nav .nav-item:last-child a {
          margin-right: 0; }
        .navigation .navbar .navbar-nav .nav-item .sub-menu {
          position: absolute;
          left: 0;
          top: 110%;
          width: 210px;
          background-color: #fff;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s;
          z-index: 99;
          -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
          -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16); }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .navigation .navbar .navbar-nav .nav-item .sub-menu {
              position: relative !important;
              width: 100% !important;
              left: 0 !important;
              top: auto !important;
              opacity: 1 !important;
              visibility: visible !important;
              display: none;
              right: auto;
              -webkit-transform: translateX(0%);
              -moz-transform: translateX(0%);
              -ms-transform: translateX(0%);
              -o-transform: translateX(0%);
              transform: translateX(0%);
              transition: 0s;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
              text-align: left;
              border-top: 0; } }
          @media (max-width: 767px) {
            .navigation .navbar .navbar-nav .nav-item .sub-menu {
              position: relative !important;
              width: 100% !important;
              left: 0 !important;
              top: auto !important;
              opacity: 1 !important;
              visibility: visible !important;
              display: none;
              right: auto;
              -webkit-transform: translateX(0%);
              -moz-transform: translateX(0%);
              -ms-transform: translateX(0%);
              -o-transform: translateX(0%);
              transform: translateX(0%);
              transition: 0s;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
              text-align: left;
              border-top: 0; } }
          .navigation .navbar .navbar-nav .nav-item .sub-menu > li {
            position: relative; }
            .navigation .navbar .navbar-nav .nav-item .sub-menu > li .sub-nav-toggler {
              color: #002e44;
              -webkit-transition: all 0.3s ease-out 0s;
              -moz-transition: all 0.3s ease-out 0s;
              -ms-transition: all 0.3s ease-out 0s;
              -o-transition: all 0.3s ease-out 0s;
              transition: all 0.3s ease-out 0s; }
            .navigation .navbar .navbar-nav .nav-item .sub-menu > li a {
              display: block;
              padding: 8px 24px;
              position: relative;
              color: #7e7e7e;
              -webkit-transition: all 0.3s ease-out 0s;
              -moz-transition: all 0.3s ease-out 0s;
              -ms-transition: all 0.3s ease-out 0s;
              -o-transition: all 0.3s ease-out 0s;
              transition: all 0.3s ease-out 0s;
              border-radius: 0;
              margin: 0 0;
              line-height: 30px; }
              .navigation .navbar .navbar-nav .nav-item .sub-menu > li a i {
                float: right;
                font-size: 14px;
                margin-top: 5px; }
                @media only screen and (min-width: 768px) and (max-width: 991px) {
                  .navigation .navbar .navbar-nav .nav-item .sub-menu > li a i {
                    display: none; } }
                @media (max-width: 767px) {
                  .navigation .navbar .navbar-nav .nav-item .sub-menu > li a i {
                    display: none; } }
              .navigation .navbar .navbar-nav .nav-item .sub-menu > li a .sub-nav-toggler i {
                display: inline-block; }
            .navigation .navbar .navbar-nav .nav-item .sub-menu > li .sub-menu {
              right: auto;
              left: 100%;
              top: 0;
              opacity: 0;
              visibility: hidden;
              -webkit-transition: all 0.3s ease-out 0s;
              -moz-transition: all 0.3s ease-out 0s;
              -ms-transition: all 0.3s ease-out 0s;
              -o-transition: all 0.3s ease-out 0s;
              transition: all 0.3s ease-out 0s; }
              @media only screen and (min-width: 768px) and (max-width: 991px) {
                .navigation .navbar .navbar-nav .nav-item .sub-menu > li .sub-menu {
                  padding-left: 30px; } }
              @media (max-width: 767px) {
                .navigation .navbar .navbar-nav .nav-item .sub-menu > li .sub-menu {
                  padding-left: 30px; } }
            .navigation .navbar .navbar-nav .nav-item .sub-menu > li:hover .sub-menu {
              top: 100%;
              opacity: 1;
              visibility: visible; }
            .navigation .navbar .navbar-nav .nav-item .sub-menu > li:hover .sub-nav-toggler {
              color: #fff; }
            .navigation .navbar .navbar-nav .nav-item .sub-menu > li:hover > a {
              background-color: #1655c5;
              color: #fff !important; }
        .navigation .navbar .navbar-nav .nav-item:hover .sub-menu {
          opacity: 1;
          visibility: visible;
          top: 100%; }
        .navigation .navbar .navbar-nav .nav-item .sub-nav-toggler {
          display: none; }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .navigation .navbar .navbar-nav .nav-item .sub-nav-toggler {
              display: inline-block;
              position: absolute;
              top: -14px;
              right: 0;
              padding: 10px 14px;
              font-size: 16px;
              background: none;
              border: 0;
              color: #fff; } }
          @media (max-width: 767px) {
            .navigation .navbar .navbar-nav .nav-item .sub-nav-toggler {
              display: inline-block;
              position: absolute;
              top: -14px;
              right: 0;
              padding: 10px 14px;
              font-size: 16px;
              background: none;
              border: 0;
              color: #fff; } }
      .navigation .navbar .navbar-btn .nice-select {
        margin-right: 70px;
        border: 0 !important; }
        @media only screen and (min-width: 992px) and (max-width: 1200px) {
          .navigation .navbar .navbar-btn .nice-select {
            margin-right: 10px; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .navigation .navbar .navbar-btn .nice-select {
            margin-right: 30px; } }
        @media (max-width: 767px) {
          .navigation .navbar .navbar-btn .nice-select {
            display: none; } }
        .navigation .navbar .navbar-btn .nice-select::before {
          position: absolute;
          content: '';
          left: -20px;
          top: 50%;
          transform: translateY(-50%);
          height: 10px;
          width: 16px;
          background-image: url(../images/ru.png);
        }
        .navigation .navbar .navbar-btn .nice-select::after {
          border-bottom: 2px solid #002e44;
          border-right: 2px solid #002e44; }
      .navigation .navbar .navbar-btn a {
        border-radius: 40px;
        background: linear-gradient(to right, #ff5a00 0%, #ffa100 50%, #ff5a00 100%);
        background-size: 200% auto;
        box-shadow: 0px 8px 16px 0px rgba(255, 140, 0, 0.3);
        border: 0;
        line-height: 60px;
        padding: 0 40px;
        color: #fff; }
        .navigation .navbar .navbar-btn a:hover {
          background-position: right center; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .navigation .navbar .navbar-btn {
          position: absolute;
          right: 70px;
          top: 50%;
          transform: translateY(-50%); } }
      @media (max-width: 767px) {
        .navigation .navbar .navbar-btn {
          position: absolute;
          right: 70px;
          top: 50%;
          transform: translateY(-50%); } }
     
  .header-3-area .navigation .navbar .navbar-btn .nice-select {
    padding-left: 54px;
    padding-right: 38px;
    border-radius: 40px;
    height: 50px;
    line-height: 50px; }
    .header-3-area .navigation .navbar .navbar-btn .nice-select::before {
      left: 12px;
      border: 7px solid #0160e7; }
    .header-3-area .navigation .navbar .navbar-btn .nice-select::after {
      right: 28px;
      margin-top: -3px; }
    .header-3-area .navigation .navbar .navbar-btn .nice-select .list {
      width: 100%;
      top: 92%; }
  .header-3-area .navigation .navbar .navbar-btn a {
    background: #0160e7;
    box-shadow: 0px 8px 16px 0px rgba(1, 96, 231, 0.2); }
  .header-3-area.header-4-area .navigation.sticky {
    background: #3b4a8c; }
  .header-3-area.header-4-area .navigation .navbar .navbar-nav .nav-item .nav-link {
    color: #fff; }
  .header-3-area.header-4-area .navigation .navbar .navbar-toggler {
    border-color: #fff; }
    .header-3-area.header-4-area .navigation .navbar .navbar-toggler span {
      background: #fff; }
  .header-3-area.header-4-area .navigation .navbar-btn a {
    border: 0;
    background-image: -moz-linear-gradient(0deg, #f98a7e 0%, #f65e87 100%);
    background-image: -webkit-linear-gradient(0deg, #f98a7e 0%, #f65e87 100%);
    background-image: -ms-linear-gradient(0deg, #f98a7e 0%, #f65e87 100%);
    box-shadow: 0px 8px 16px 0px rgba(251, 143, 143, 0.2); }
  
  @-webkit-keyframes sticky {
    0% {
      top: -200px; }
    100% {
      top: 0; } }
  @keyframes sticky {
    0% {
      top: -200px; }
    100% {
      top: 0; } }